
<div class="main">
  <h3>Welcome to Mousehunt Collector</h3>
  <p>This app is designed as a companion to players of the game <%= link_to  "Mousehunt", "https://www.mousehuntgame.com" %>, which is also available on Facebook. Having been a slow but steady player over the last 9 years, I decided it was time to put away my excel spreadsheet and develop a better inventory acquisition tracker.
  <p>This is a place to search and review all of the available Weapons, Bases, and other collectible items needed to play the game. If you'd like a better understanding, please see the <%= link_to  "MH Wiki", "https://mhwiki.hitgrab.com/wiki/index.php/MouseHunt_Wiki" %>
  <br>

  
  <%= link_to  "Ranks", ranks_path %><br>
  <%= link_to  "Regions", regions_path %><br>
  <%= link_to  "Locations", locations_path %><br>
  <%= link_to  "Mice", mice_path %><br>
  <%= link_to  "Items", items_path %>
  <br>
  <br>
  <br>
    <p>In progress Thurs, Sep 10 - Items created, starting stats table for weapons</p>
    <p>Wed progress: Added mice and mice locations. Nested routes avail to add a mice location from either the mouse or the location as long as both exist. FactoryBot rules! Also, there are now Regions too just to make pretty tables.</p>
    <p>Tues progress: User's have ranks, add Locations. Basic RSpecs for red/green/refactor later. </p>
    <p>Monday's work: Add ranks and some basic styling</p>
    <p>Sunday's setup: I have an app, it has a user. Feature work in Cucumber, testing in RSpec.</p>
</div>
