<div class="table-container">
  <table id="weapon-stats-table">
    <thead>
      <tr>
        <th>Power</th><th>P Bonus</th><th>Attr</th><th>Luck</th><th>Effect</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @item.item_stat.power %></td>
        <td><%= @item.item_stat.p_bonus %></td>
        <td><%= @item.item_stat.attr_bonus %></td>
        <td><%= @item.item_stat.luck %></td>
        <td><%= @item.item_stat.cheese_effect %></td>
      </tr>
    </tbody>
  </table>
</div>