<h2>Update Mouse Info</h2>

<%= render 'shared/errors' %>

<%= render  partial: "mouse_form", locals: { mouse: @mouse } %>
<br>
<br>
<h4>Locations:</h4>
<%= render partial:"locations_for_mouse", locals: { mouse: @mouse.reload } %>
<br>
<br>

<form id="locations_for_mouse_add_form" action="<%= mouse_locations_path(@mouse) %>" method="POST">
  <input type="hidden" value=<%= form_authenticity_token %> name="authenticity_token">
  <% locs = non_locations_options(@mouse.locations) %>
  <%= select(:mouselocation, :location_id, options_for_select(locs) )%>
  <%= submit_tag("Add Location") %>
</form>
<br>
<br>
<%= link_to  "Go back", mouse_path(@mouse) %>