<h2>All the Mice!</h2>

<% if !!current_user %>
  <%= link_to  "Add a Mouse", new_mouse_path %>
<% else %>
  <p>Want to help add some mice? Just make an account to unlock access.</p>
<% end %>

<br>
<br>
<div class="mice_table_container">
<table id="mice_list">
  <thead>
    <tr>
      <th>Name</th><th>Gold</th><th>Points</th>
    </tr>
  </thead>
  <tbody>
    
    <% @mice.each do |mouse| %>
      <tr>
        <td><%= link_to  mouse.name, mouse_path(mouse) %></td>
        <td><%= mouse.gold %></td>
        <td><%= mouse.points %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
</div>
<br>
<br>
<%= link_to  "Back to Main", root_path %>