<h2><%= @mouse.name %> </h2>
<h4>Stats</h4>
<p>Gold: <%= @mouse.gold %>      Points: <%= @mouse.points %></p>
<br>
<br>
<% if current_user %>
  <%= link_to  "Edit stats", edit_mouse_path(@mouse) %>
<% else %>
  <p>Please sign in if you'd like to help update this mouse's info.</p>
<% end %>

<h4>Locations</h4>
<%= render partial:"locations/locations_table", locals: { locations: @mouse.locations } %>

<br>
<br>

<form id="mouselocation_add_form" action="<%= mouse_locations_path(@mouse) %>" method="POST">
  <input type="hidden" value=<%= form_authenticity_token %> name="authenticity_token">
  <%= select(:mouselocation, :location_id, options_for_select(@mouse.non_locations_options(@mouse.locations))) %>
  <%= submit_tag("Add Location") %>
</form>
<br>
<br>
<%= link_to  "Back to the mice!", mice_path %>