<h2><%= @mouse.name %> </h2>
<h4>Stats</h4>
<p>Gold: <%= @mouse.gold %></p>
<p>Points: <%= @mouse.points %></p>

<h4>Locations</h4>
coming soon....
<br>
<br>
<% if current_user %>
  <%= link_to  "Edit this mouse", edit_location_path(@location) %>
<% else %>
  <p>Please sign in if you'd like to help update this mouse's info.</p>
<% end %>


<br>
<br>
<%= link_to  "Back to the mice!", mice_path %>