<h2>Hey there, ready for an account?</h2>
<p>Choose a display name and unique username to identify your account. During concept development, accounts are cleaned periodically.</p>
<%= render 'shared/errors' %>

<form id="sign_up_form" action="/users" method="POST">
  <input type="hidden" value=<%= form_authenticity_token %> name="authenticity_token">
  <label for="user_name">Display Name: </label>
  <input type="text" id="user_name" name="user[username]" value="">
  <label for="user_email">Username: </label>
  <input type="text" id="user_email" name="user[email]" value="">
  <%= collection_select(:user, :rank_id, Rank.all, :id, :title ) %>
  <label for="user_pw">Password (min 6 chars): </label>
  <input type="password" id="user_pw" name="user[password]" >

  <input type="submit">
</form>
<br>

<br>
<%= render  "shared/inline_guest_sign_in" %>
<br>
<br>
<%= link_to  "Nevermind, take me home", root_path %>