<h2><%= @category.name.capitalize %></h2>
<% if !!current_user %>
  Quick add: <%= render  "item_quick_add" %>
<% else %>
  <p>Want to help add some stuff? Just make an account to unlock access.</p>
<% end %>


<h4>This is everything listed under <%= @category.name %> so far:</h4>
<ul>
  <% @items.each do |item| %>
    <li><%= link_to  item.name.capitalize, item_path(item) %></li>
  <% end %>
</ul>
<br>
<br>
<%= link_to  "Back to items", items_path %>
<%= link_to  "Take me to Home", root_path %>