<h2><%= @item.name %> </h2>
<h4>Stats</h4>
<% if @item.weapon_item? %>
  <%= render partial: "items/stats/stats_table_weapon" %>
<% elsif @item.trap_item? %>
  <%= render partial: "items/stats/stats_table_base_charm" %>
<% else %>
  <p>This item is used as/for <%= @item.category.name %>.</p>
  <p>Limited Edition? <%= @item.le ? "Yep" : "Nope" %> </p>
  <br>
<% end %>






<br>
<br>
<% if current_user %>
  <%= link_to  "Edit this item", edit_item_path(@item) %>
<% else %>
  <p>Please sign in if you'd like to help update this item's info.</p>
<% end %>
<br>
<br>

<%= link_to  "Back to items", items_path %>
