<form id="location_edit_form" action="<%= location_path(location) %>" method="POST">
  <input type="hidden" value=<%= form_authenticity_token %> name="authenticity_token">
  <input type="hidden" value="PATCH" name="_method">
  <label for="location_name">Name: </label>
  <input type="text" id="location_name" name="location[name]" value="<%= location.name %>">
  <br>
  <br>
  <label>Belongs to Region: </label>
  <%= collection_select(:location, :region_id, Region.all, :id, :name ) %>
  <br>
  <br>
  <label>Unlocked at Rank: </label>
  <%= collection_select(:location, :rank_id, Rank.all, :id, :title ) %>
  <br>
  <br>
  <input type="submit" value="Update location info">
</form>