<h2>Update Location Info</h2>

<%= render 'shared/errors' %>

<form id="location_edit_form" action="<%= location_path(@location) %>" method="POST">
  <input type="hidden" value=<%= form_authenticity_token %> name="authenticity_token">
  <input type="hidden" value="PATCH" name="_method">
  <label for="location_name">Name: </label>
  <input type="text" id="location_name" name="location[name]" value="<%= @location.name %>">
  <label>Unlocked at Rank: </label>
  <%= collection_select(:location, :rank_id, Rank.all, :id, :title ) %>
  <br>

  <input type="submit" value="Add this Location">
</form>

<%= link_to  "Go back", location_path(@location) %>
