<h2>Update Location Info</h2>

<%= render 'shared/errors' %>

<%= render  partial: "location_form", locals: { location: @location } %>
<br>
<br>
<h4>Mice: </h4>
<%= render  partial:"mice_for_location", locals: { location: @location.reload } %>
<br>
<br>
<form id="mice_for_location_add_form" action="<%= location_mice_path(@location) %>" method="POST">
  <input type="hidden" value=<%= form_authenticity_token %> name="authenticity_token">
  <% mice = unused_mice_options(@location.mice) %>
  <%= select(:mouselocation, :mouse_id, options_for_select(mice) )%>
  <%= submit_tag("Add Mouse") %>
</form>
<br>
<br>
<%= link_to  "Go back", location_path(@location) %>
