<!DOCTYPE html>
<html>
  <head>
    <title>MH Collector</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="header" class="header">
      <div class="header__left"></div>
      <div class="header__right">
        <div>
        <% if current_user %>
          <%= current_user.name %>
          <form action="<%= session_url %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Logout">
          </form>
        <% else %>
          <a href="<%= new_session_url %>">Sign in</a>
          <a href="<%= new_user_url %>">Sign up</a>
        <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
