<!DOCTYPE html>
<html>
  <head>
    <title>
    MHCollector</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        
        <div id="header" class="header">
          <div class="header__left">
            <p>Mousehunt Collector</p>
          </div>
          <div class="header__right">
            <% if current_user %>
              <div class="welcome-container">
                <div class="welcome-message">Welcome, </div>
                <div class="welcome-name"><%= link_to  current_user.name, user_path(current_user) %> </div>
              </div>
              <div class="logout-container">
                <form action="<%= session_path %>" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="Logout">
                </form>
              </div>
            <% else %>
              <%= link_to  "Sign in", new_session_url%>
              <%= link_to  "Sign up", new_user_path %>
            <% end %>
          </div>
        </div>
      
        <div id="content-body">
          <%= yield %>
        </div>
      </div>
      
      <div id="footer" class="footer-content">
        <small>Copyright © 2020 Christina Kiesz</small><%= link_to  "Back to Main", root_path %><%= link_to  "Source code on Github", 'https://github.com/ck4adventure/mhdb' %>
      </div>
    </div>
  </body>
</html>
