<!DOCTYPE html>
<html>
  <head>
    <title>MH Collector</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class="header">
      <div class="header__left"></div>
      <div class="header__right">
        <%= link_to  "Sign up", new_user_path %>
        <%= link_to  "Sign in", new_session_path %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
